@font-face {
  font-family: 'webpixel';
  src: url('./fonts/webpixel.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'retro';
  src: url('./fonts/retro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



body {
  background-color: black;
  color: rgb(0, 255, 0);
  font-family:'webpixel';
}

header {
  text-align: left;
  border-bottom-style: dashed;
  border-color: rgb(0, 255, 0);
  text-align: center;
  
}

header>h1{
  font-size: 46px;
}

header>h2 {
  font-size: 36px;
}

ul, li {
  color: rgb(0, 255, 0);
  font-size: 24px;
  list-style: none;
}

header>h1::selection, header>h2::selection{
  background-color: rgb(0, 255, 0);
  color: black;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
}
